.relativeObject{
    position: relative;
}
.cardBg{
    margin: 0 auto;
    max-width: 360px;
}
.bonusIcon{
    position: absolute;
    bottom: -82px;
    left: -27px;
    max-width: 200px;
    min-width: 200px;
}

.kjkj{
    max-width: 850px;
}
/* Home.css */
.bgOfhome {    
    --background: none; /* Fallback color */
    background: #F7CE55 url("/bg/01.webp") no-repeat center/cover;
    will-change: transform; /* Helps with performance by creating a new composite layer */
    transform: translateZ(0); /* Forces hardware acceleration */
    -webkit-backface-visibility: hidden; /* Reduces paint times in WebKit browsers */
    backface-visibility: hidden;
}
@media only screen and (max-height: 800px) {
    .size-content-home {
      width: 46vh;
    }
  }