.relativeObject{
    position: relative;
}
.cardBg{
    margin: 0 auto;
    max-width: 360px;
}
.bonusIcon{
    position: absolute;
    bottom: -82px;
    left: -27px;
    max-width: 200px;
    min-width: 200px;
}

.kjkj{
    max-width: 850px;
}
/* Home.css */


@media only screen and (max-height: 800px) {
    .size-content-home {
      width: 46vh;
    }
  }