/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@font-face {
    font-family: 'IBMPlexSansThai';
    src: url('./assets/font/IBMPlexSansThai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: medium;
}

:root {
    --ion-font-family:  'IBMPlexSansThai', sans-serif;
}  

.ios {
    ion-grid {
      --ion-grid-padding: 0 !important;
      --ion-grid-column-padding: 0 !important;
    }
    
    ion-col {
      padding: 0 !important;
    }
  }